{% extends "layouts/main.html" %}

{% block content %}
<div class="text-center text-white content-box rounded-2 ">
    <span>Choose a file from which the camera can recognize its surrounding.</span>
</div>


<form method="post">
    <div class="d-grid capture_btn">
        <input id="toggle" name="toggle" type="hidden" value="start">
        <p>
        <select class="form-select" aria-label="Default select example" id="selection">
          <option selected>Select a file</option>

            {% for file in filenames %}
                <option value="{{loop.index}}">{{file}}</option>
            {% endfor %}

        </select>
        </p>
        <input class="btn btn-secondary btn-lg btn-block" name="set_file" type="submit" value="Set File"/>
        <input class="btn btn-primary btn-lg btn-block" name="start_button" type="submit" value="Start"/>

    </div>
</form>



<form method="post">
    <div class="d-grid capture_btn">
        <input id="toggle" name="toggle" type="hidden" value="stop">
        <input class="btn btn-primary btn-lg btn-block" name="stop_button" type="submit" value="Stop"/>
    </div>
</form>


<div class="d-grid">
    <br>
    <a class="btn btn-secondary btn-lg btn-block" href="/" role="button">Back</a>
</div>


{% endblock %}