{% extends "layouts/main.html" %}
{% block content %}

# Site description
<div class="text-center text-white content-box rounded-2 ">
    <span>Choose a file from which the camera can recognize the environment.</span>
</div>

# File name selection and start button
<form method="post">
    <div class="d-grid capture_btn">
        <input id="toggle" name="toggle" type="hidden" value="start">
        <p>
        <select class="form-select" aria-label="Default select" id="selection" name="selection">
          <option selected>{% if selection != None %}{{ selection }}{% else %}Select a file{% endif %}</option>

            {% for file in filenames %}
                <option value="{{file}}">{{file}}</option>
            {% endfor %}

        </select>
        </p>
        <input class="btn btn-secondary btn-lg btn-block" name="set_file" type="submit" value="Set File"/>
        <p></p>
        <input class="btn btn-primary btn-lg btn-block" name="start_button" type="submit" value="Start"/>
    </div>
</form>

# Stop button
<form method="post">
    <div class="d-grid capture_btn">
        <input id="toggle" name="toggle" type="hidden" value="stop">
        <input class="btn btn-primary btn-lg btn-block" name="stop_button" type="submit" value="Stop"/>
    </div>
</form>

# Back button
<div class="d-grid">
    <br>
    <a class="btn btn-secondary btn-lg btn-block" href="/" role="button">Back</a>
</div>


{% endblock %}