{% extends "layouts/main.html" %}

{% block content %}
<div class="text-center text-white content-box rounded-2 ">
    To update the ZED Navigator, you need to connect it to the internet, for e.g. via ethernet. Then click on "Update and Restart". Tracking will stop and the ZED Navigator may be offline for a few minutes. An update will pull the latest files from the <a href="https://github.com/philippbenner/camtrack" target="_blank">Github repository</a>.<br> Or remote connect to the Jetson terminal via ssh:<br> nano@1.1.1.1 | Password: nano
</div>
<br>

<form method="post">
    <div class="d-grid capture_btn">
        <input id="action" name="toggle" type="hidden" value="restart">
        <input class="btn btn-warning btn-lg btn-block" name="restart_button" type="submit" value="Restart"/>
    </div>
</form>

<form method="post">
    <div class="d-grid capture_btn">
        <input id="action" name="toggle" type="hidden" value="shutdown">
        <input class="btn btn-danger btn-lg btn-block" name="shutdown_button" type="submit" value="Shutdown"/>
    </div>
</form>
<br>
<form method="post">
    <div class="d-grid capture_btn">
        <input id="action" name="toggle" type="hidden" value="update">
        <input class="btn btn-primary btn-lg btn-block" name="update_button" type="submit" value="Update & Restart"/>
    </div>
</form>

<br>
<div class="d-grid">
    <a class="btn btn-secondary btn-lg btn-block" href="/" role="button">Back</a>
</div>


{% endblock %}