{% extends "layouts/main.html" %}
{% block content %}

<!-- Site description -->
<div class="text-center text-white content-box rounded-2 ">
    To update the ZED Navigator, you need to connect it to the internet, for e.g. via ethernet.
    An update will pull the latest files from the <a href="https://github.com/philippbenner/camtrack" target="_blank">Github repository</a>.<br> 
    Remote connect to the Jetson terminal via ssh and use "git pull origin" to get the latest files:<br> nano@1.1.1.1 | Password: nano
</div>
<br>

<!-- Restart button -->
<form method="post">
    <div class="d-grid capture_btn">
        <input id="action" name="toggle" type="hidden" value="restart">
        <input class="btn btn-warning btn-lg btn-block" name="restart_button" type="submit" value="Reboot"/>
    </div>
</form>

<!-- Shutdown button -->
<form method="post">
    <div class="d-grid capture_btn">
        <input id="action" name="toggle" type="hidden" value="shutdown">
        <input class="btn btn-danger btn-lg btn-block" name="shutdown_button" type="submit" value="Shutdown"/>
    </div>
</form>
<br>

<!-- Start Latency test button -->
<form method="post">
    <div class="d-grid capture_btn">
        <input id="action" name="toggle" type="hidden" value="latency_test">
        <input class="btn btn-primary btn-lg btn-block" name="latency_test_button" type="submit" value="Start Latency Test"/>
    </div>
</form>

<!-- Stop Latency test button -->
<form method="post">
    <div class="d-grid capture_btn">
        <input id="action" name="toggle" type="hidden" value="latency_test_stop">
        <input class="btn btn-secondary btn-lg btn-block" name="latency_test_stop_button" type="submit" value="Stop Latency Test"/>
    </div>
</form>
<br>

<!-- Back button -->
<div class="d-grid">
    <a class="btn btn-secondary btn-lg btn-block" href="/" role="button">Back</a>
</div>
<br>

{% endblock %}